@{
    ViewData["Title"] = "Welcome";
}
@model logreg.Models.Index
<h1>Register</h1>
<p>@ViewBag.regerr</p>
<form asp-controller="Home" asp-action="Register" method="post">
    <label asp-for="regdetails.fname"></label>
    <input asp-for="regdetails.fname"/>
    <span asp-validation-for="regdetails.fname"></span>
    <label asp-for="regdetails.lname"></label>
    <input asp-for="regdetails.lname"/>
    <span asp-validation-for="regdetails.lname"></span>
    <label asp-for="regdetails.email"></label>
    <input asp-for="regdetails.email"/>
    <span asp-validation-for="regdetails.email"></span>
    <label asp-for="regdetails.pw"></label>
    <input asp-for="regdetails.pw"/>
    <span asp-validation-for="regdetails.pw"></span>
    <label asp-for="regdetails.cpw"></label>
    <input asp-for="regdetails.cpw"/>
    <span asp-validation-for="regdetails.cpw"></span>
    <input type="submit" value="Register">
</form>


<h1>Login</h1>
<p>@ViewBag.logerr</p>
<form asp-controller="Home" asp-action="Login" method="post">
    <label>Email</label>
    <input asp-for="logdetails.email"/>
    <span asp-validation-for="logdetails.email"></span>
    <label>Password</label>
    <input asp-for="logdetails.pw"/>
    <span asp-validation-for="logdetails.pw"></span>
    <input type="submit" value="Log In">
</form>